<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <title><%= 404 %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <body>
        <%- include('partials/header') %>
        <h1 class = "eror" id = "error" > 404: Page Not Found</h1>
        <%- include('partials/footer') %>
    </body>
</body>
</html>
